/* colors:
    1- #F2F2F2
    2- #5CB8E4
    3- #8758FF
    4- #181818

    font family: 
    font-family: 'Roboto', sans-serif;
    font-family: 'Nunito', sans-serif;
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logInForm {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
    background-color: #F2F2F2;
    border: 2px solid #F2F2F2;
    border-radius: 5px;
}
.logInForm h2 {
    font-family: 'Nunito', sans-serif;
    color: #181818;
    margin: 20px auto;
    font-weight: bold;
}
.logInForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input {
    margin: 10px;
    width: 350px;
    height: 35px;
    padding-left: 10px;
    font-size: 15px;
    color: #8758FF;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #8758FF;
    background-color: #F2F2F2;
}
input::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #8758FF;
}
input:focus{
    outline: none;
    border: none;
    border-bottom: 2px solid #8758FF;
}
input[type="button"]{
    border: none;
    background-color: #8758FF;
    border-radius: 5px;
    width: 200px;
    color: #F2F2F2;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
